
<main>
  <section class="register">
    <form method="post" class="form" [formGroup]="registerForm" (ngSubmit)="submit()">
      <section>
        <input type="text" id="name" formControlName="name" placeholder="Nome" required >
      </section>
      <section>
        <input type="text" id="email" formControlName="email" placeholder="E-mail" required>
      </section>
      <section>
        <input type="password" id="password" formControlName="password" placeholder="Senha" required >
      </section>
      <section>
        <button [disabled]="!registerForm.valid" type="submit">Registre-se</button>
      </section>
    </form>
  </section>
</main>
